Package: ZTPi
Version: 0.1-1
Section: network
Priority: optional
Architecture: all
Depends: isc-dhcp-server (>= 0.0), nginx-full, atftpd, vsftpd, screen, mtr, nmap, traceroute, whois, tcpdump, dhcpdump
Maintainer: Juniper Automation <needemail@juniper.net>
Description: ZTP Server
