#
# ZTP DHCP Config
#

default-lease-time {{ default-lease-time }};
max-lease-time {{ max-lease-time }};

# Use this to send dhcp log messages to a different log file (you also
# have to hack syslog.conf to complete the redirection).
log-facility local7;

#ztp option space definition
option space ztp-ops;
option ztp-ops.image-file-name code 0 = text;
option ztp-ops.config-file-name code 1 = text;
option ztp-ops.image-file-type code 2 = text;
option ztp-ops.transfer-mode code 3 = text;
option ztp-ops-encap code 43 = encapsulate ztp-ops;

option ztp-file-server code 66 = { ip-address };

#subnet definition
{% for item in subnets %}
subnet {{ item.subnet.address}} netmask {{ item.subnet.netmask }} {
    {% for r  in item.subnet.ranges %}
        range {{ r.range.start }} {{ r.range.end }};
        option routers {{ r.range.options.routers }};
        option broadcast-address {{ r.range.options.broadcast-address }};
        {% for h in r.range.hosts %}
            host {{ h.host.name }} {
                {% if h.host.hw-ethernet is defined %}
                    hardware ethernet {{ h.host.hw-ethernet }};
                {% endif %}
                {% if h.host.options is defined %}
                    {% if h.host.options.log-servers is defined %}
                        option log-servers {{ h.host.options.log-servers }};
                    {% endif %}
                    {% if h.host.options.host-name is defined %}
                        option host-name "{{ h.host.options.host-name }}";
                    {% endif %}
                    {% if h.host.options.bootfile-name is defined %}
                        option bootfile-name "{{ h.host.options.bootfile-name }}";
                    {% endif %}
                    {% if h.host.options.ztp-file-server is defined %}
                        option ztp-file-server {{ h.host.options.ztp-file-server}};
                    {% endif %}
                    {% if h.host.options.tftp-server-name is defined %}
                        option tftp-server-name {{ h.host.options.tftp-server-name }};
                    {% endif %}
                    {% if h.host.options.ztp-ops-config-file-name is defined %}
                        option ztp-ops.config-file-name "{{ h.host.options.ztp-ops-config-file-name }}";
                    {% endif %}
                {% endif %}
            }
        {% endfor %}
    {% endfor%}
}
{% endfor %}
