/var/log/ztp-hosts.log
{
        size {{ size }}
        rotate {{ rotate }}
        daily
        missingok
        notifempty
        delaycompress
        compress
}
/var/log/ztp-services.log
{
        size {{ size }}
        rotate {{ rotate }}
        daily
        missingok
        notifempty
        delaycompress
        compress
}
